body{
    background-color: darkslategrey;
    overflow: hidden;
}

.btn-submit-1{
    font-family: 'Trebuchet MS';
    font-size: 20px;
    border-radius: 20px;
}

.btn-submit{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 50px;
}

.txtbx-1{
    font-family: 'Trebuchet MS';
    font-size: 25px;
    border-radius: 20px;
    width: 500px;
    background-color: azure;
    
}

.txtbx{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 250px;
}

.shortcut-container{
    width: 1000px;
    height: 500px;
    margin-left: 450px;
}

.shortcut{
    color: white;
    background-color: steelblue;
    font-size: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    width: 250px;
    height: 100px;
}

.shortcut:hover{
    transform: scale(102%);
}

.right{
    margin-top: -250px;
    margin-left: 300px;
}

.left{
    margin-top: 20px;
}
