.btn-submit{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-left: 750px;
    margin-top: 250px;
    font-family: 'Trebuchet MS';
    font-size: 25px;

}

.txtbx{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-left: 400px;
    margin-top: 250px;
    font-family: 'Trebuchet MS';
    font-size: 25px;
}